.btn {
  font-family: 'Roboto', sans-serif;
  font-size: 1vw;
  color: #223046;
  border-radius: 5px;
  cursor: pointer;
  border: 1px solid #BFC4CD;
}

.btn:hover {
  color: #fff;
  background-color: #223046;
}